@import "tailwindcss";

.ant-table-wrapper .ant-table {
    background-color: transparent;
}
.ant-table-cell {
    padding: 4px 8px; /* celdas compactas */
  }
  
  .ant-form-item {
    margin: 0 !important;
  }
  
  .ant-input {
    border-radius: 0;
  }
  